---
layout: default
description: {{ site.description }}
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post clearfix">

      {% if site.posts-list.title %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% endif %}
      
      {% if site.posts-list.date %}
      <div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
      {% endif %}

      {% if site.posts-list.beginning %}
      <div class="beginning">
        {{ post.content | strip_html | truncate:140 }}
        {% if site.posts-list.read-more.text %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ site.posts-list.read-more.text }}</a>
        {% endif %}
      </div>
      {% endif %}

    </div>
  {% endfor %}
</div>
